
<form name="form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text"  class="form-control" formControlName="firstName" required />
      <div class="invalid-feedback">
        <div>First Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" formControlName="lastName"  required />
      <div class="invalid-feedback">
        <div>Last Name is required</div>
      </div>
    </div>

    <div class="form-group">
        <label for="age">Age </label>
        <input type="number" class="form-control" formControlName="age"  required />
        <div class="invalid-feedback">
          <div>Age is required</div>
        </div>
      </div>
   
    
    <div class="form-group">
      <button class="btn btn-primary"  [disabled]="!form.valid">Register</button>
    </div>
  </form>