<h5>User List</h5>

<table>

   
    <tr>
        <td>Id</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Age</td>
        <td>Action</td>
        
       
      </tr>
    <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.firstName}}</td>
        <td>{{ user.lastName }}</td>
      <td>{{ user.age }}</td>
      <td><button (click)="delete(user.id)">Delete</button></td>
      
    </tr>
  </table>

 
